@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="mainRoot"></div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@*development code start here*@

@*development code end here*@
@*proudction code start here*@
    <script type="module" crossorigin src="/main/v1/assets/main-xap6fTlK.js"></script>
    <link rel="modulepreload" crossorigin href="/main/v1/assets/appSetting-DUM-gYes.js">
    <link rel="stylesheet" crossorigin href="/main/v1/assets/main-B_65eAju.css">
@*proudction code end here*@



@section Scripts {
    @* <script src="~/js/common.js"></script> *@
    
}

@section Styles {
      @* <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" /> *@
       
}