@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
 <div id="adminRoot"></div>
<p>Use this page to detail your site's privacy policy.</p>


@*development code start here*@
@*development code end here*@

@*proudction code start here*@
    <script type="module" crossorigin src="/main/v1/assets/admin-rAkfSgny.js"></script>
    <link rel="modulepreload" crossorigin href="/main/v1/assets/appSetting-DUM-gYes.js">
    <link rel="stylesheet" crossorigin href="/main/v1/assets/admin-CT_Q0Cq8.css">
@*proudction code end here*@

@section Scripts {
    @* <script src="~/js/common.js"></script> *@



}
@section Styles {
      @* <link rel="stylesheet" href="~/css/privacy.css" asp-append-version="true" /> *@
        
}